{
  "env": {
    "jest": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-magic-numbers": "off",
    "@jsdoc/require-jsdoc": "off",
    "quotes": ["error", "double"]
  }
}
